
.headerclass{
  background-color:yellowgreen;

  height:12vh;
  width:100vw;
  margin:0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}
.slideshowclass{
  height:55vh;
  width:99vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0px;
  background-color:aqua;
}
.aligncenter{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}
.Imagediv{
display:flex;
flex-direction: column;
align-items:center ;
color:red;
font-size:bold;
margin:0px;

}
.homepage
{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.imagesclass{
  height:50vh;
  width:100vw;
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.prodDetails{
  display:flex;
  height:30vh;
  width:70vw;
  justify-content:space-evenly,center;
  margin:10px;
  
}
.Prodremain{
  margin-top: 20px;
  color:blueviolet;
  text-align:justify;
  justify-content: center;
}

.body{
  margin:0px;
  display: flex;
  align-items: flex-start;
}
.formdiv{
  display:flex;
  margin:10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imageslideclass{
  height:40vh;
  width:40vw;
  margin-left: 10px;
}
.imagesize{
  height:30vh;
  width:30vw;
  align-content: center;
}
.linkclass{
  font:black;
}


.subheadclass{
  height:10vh;
  width:100vh;
}
.textboxclass{
  height:20px;
  width:20px;
}

.mainbuttonstyle{
  height:5vh;
  width:15vw;
  background-color:aqua;
}
.buttonstyle{
  height:5vh;
  width:5vw;
}
.cartbuttonstyle{
  justify-content: center;
  align-items: center;
  display:flex;
  flex-direction:column;
}
input{
border-radius: 10px;
border:2px solid aqua;
}
label{
  color:darkorange;
}
button{

  padding:10px;
  
  border:2px solid aqua;
  color:orange;
}